a {
  color: #00b7ff;
}
.date {
  font-size: 1.2rem;
}
.category {
  font-size: 1rem;
  color: #6b6363;
}
.category_main {
  color: #701010;
}
h1 {
  color: #701010;
}
.form-signin {
  max-width: 550px;
  min-width: 300px;
  width: 300px;
  margin: 0px auto;
}
.mt-150 {
  margin-top: 150px;
}
